.globalmenu-boton { padding: 0 8px; font-weight: normal; }
.globalmenu-boton:hover, .globalmenu-boton:checked { background-color: rgba(255, 255, 255, 0.14); border-radius: 4px; }
.globalmenu-atajo { color: rgba(255, 255, 255, 0.45); padding-left: 24px; }
